<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
    <title>
        Mejora del Acceso Alimentario en Contextos de Vulnerabilidad Socioeconómica
    </title>

    <link rel="stylesheet" href="/css/index.css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet"/>

</head>

<body>
<section class="azulOscuro min-h-screen">
    {{#block "btn-volver"}}{{/block}}
    {{#block "contenido"}}{{/block}}
</section>

<!-- Flowbite JS -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>
