{{#partial "btn-volver"}}
    <div class="flex">
        <a href="/colaborar">
            <button
                    class="m-4 px-6 py-3 text-sm lg:text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform azulIntermedio rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
            >
                Volver
            </button>
        </a>
    </div>
{{/partial}}

{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-8">Alta de persona vulnerable</h1>

        <form class="content-center max-w-md mx-auto">
            <label
                    for="nombre"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nombre</label
            >
            <input
                    type="text"
                    id="nombre"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nombre"
                    required
            />

            <label
                    for="tipo-documento"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Tipo de documento</label
            >
            <select
                    id="tipo-documento"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                <option value="dni">DNI</option>
                <option value="pasaporte">Pasaporte</option>
                <option value="cedula-azul">Cédula azul</option>
            </select>

            <label
                    for="documento"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Número de documento</label
            >
            <input
                    type="number"
                    id="documento"
                    aria-describedby="helper-text-explanation"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Documento"
                    required
                    min="1"
            />

            <label
                    for="default-datepicker"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Fecha de nacimiento</label
            >
            <input
                    required
                    datepicker
                    datepicker-autohide
                    datepicker-format="dd/mm/yyyy"
                    autoSelectToday="1"
                    id="default-datepicker"
                    type="text"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Fecha de nacimiento"
            />

            <label
                    for="posee-domicilio"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿Posee un domicilio?</label
            >
            <fieldset id="posee-domicilio">
                <div class="flex items-center mb-2">
                    <input
                            id="con-domicilio"
                            type="radio"
                            name="posee-domicilio"
                            value="si"
                            required
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                            for="con-domicilio"
                            class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                        Sí
                    </label>
                </div>
                <div class="flex items-center mb-5">
                    <input
                            id="sin-domicilio"
                            type="radio"
                            name="posee-domicilio"
                            value="no"
                            required
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                            for="sin-domicilio"
                            class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                        No
                    </label>
                </div>
            </fieldset>

            <div
                    class="relative z-0 w-full mb-5 group text-left"
                    style="display: none"
                    id="divDomicilio"
            >
                <label
                        for="domicilio"
                        class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Domicilio</label
                >
                <input
                        type="text"
                        id="domicilio"
                        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Domicilio"
                />
            </div>

            <label
                    for="tiene-tutorados"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿Tiene menores a su cargo?</label
            >
            <fieldset id="tiene-tutorados">
                <div class="flex items-center mb-2">
                    <input
                            id="tiene-tutorados"
                            type="radio"
                            name="tiene-tutorados"
                            value="si"
                            required
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                            for="tiene-tutorados"
                            class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                        Sí
                    </label>
                </div>
                <div class="flex items-center mb-5">
                    <input
                            name=""
                            id="no-tiene-tutorados"
                            type="radio"
                            name="tiene-tutorados"
                            value="no"
                            required
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                            for="no-tiene-tutorados"
                            class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                        No
                    </label>
                </div>
            </fieldset>

            <div
                    class="relative z-0 w-full mt-2 mb-5 group text-left"
                    style="display: none"
                    id="divCantMenores"
            >
                <label
                        for="cant-menores"
                        class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Cantidad de menores a cargo</label
                >
                <input
                        name="cantMenores"
                        type="number"
                        id="cant-menores"
                        aria-describedby="helper-text-explanation"
                        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Cantidad de menores a cargo"
                        min="1"
                />
            </div>

                <label
                        for="cod-tarjeta"
                        class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Código de la tarjeta que recibirá la persona</label
                >
                <input
                        name="codTarjeta"
                        type="text"
                        id="cod-tarjeta"
                        aria-describedby="helper-text-explanation"
                        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="ingrese código"
                        min="1"
                />
            <button
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-6 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12"
            >
                Registrar donación
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll(
                    'input[name="posee-domicilio"]'
            );
            const divDomicilio = document.getElementById("divDomicilio");

            radioButtons.forEach(function (radio) {
                radio.addEventListener("change", function () {
                    if (this.value === "si") {
                        divDomicilio.style.display = "block";
                    } else {
                        divDomicilio.style.display = "none";
                    }
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll(
                    'input[name="tiene-tutorados"]'
            );
            const divDomicilio = document.getElementById("divCantMenores");

            radioButtons.forEach(function (radio) {
                radio.addEventListener("change", function () {
                    if (this.value === "si") {
                        divDomicilio.style.display = "block";
                    } else {
                        divDomicilio.style.display = "none";
                    }
                });
            });
        });
    </script>
{{/partial}}

{{> templates/app/base}}