{{#partial "btn-volver"}}
    <div class="flex">
        <a href="/colaborar">
            <button
                    class="m-4 px-6 py-3 text-sm lg:text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform azulIntermedio rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
            >
                Volver
            </button>
        </a>
    </div>
{{/partial}}

{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-8">Colocar heladera</h1>

        <form class="content-center max-w-md mx-auto">
            <label
                    for="nombre"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nombre de la heladera</label
            >
            <input
                    type="text"
                    id="nombre"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nombre"
                    required
            />

            <label
                    for="modelo"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Modelo</label
            >
            <select
                    id="modelo"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                <option value="modelo1">Modelo 1</option>
                <option value="modelo2">Modelo 2</option>
                <option value="modelo3">Modelo 3</option>
            </select>

            <label
                    for="capacidad"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Capacidad (en cantidad de viandas)</label
            >
            <input
                    type="number"
                    id="capacidad"
                    aria-describedby="helper-text-explanation"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Capacidad"
                    required
                    min="1"
            />

            <label
                    for="default-datepicker"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Fecha de puesta en funcionamiento</label
            >
            <input
                    required
                    datepicker
                    datepicker-autohide
                    datepicker-format="dd/mm/yyyy"
                    id="default-datepicker"
                    type="text"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Fecha de puesta en funcionamiento"
            />

            <span
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Ubicación</span
            >

            <div
                    id="map"
                    style="height: 300px; width: 100%; z-index: 50"
                    class="mb-5"
            ></div>

            <input type="hidden" name="latitud" id="latitud"/>
            <input type="hidden" name="longitud" id="longitud"/>

            <label
                    for="Calle"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Calle</label
            >
            <input
                    type="text"
                    id="calle"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Calle"
                    required
            />

            <label
                    for="numero"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Numero</label
            >
            <input
                    type="number"
                    id="numero"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Numero"
                    required
            />

            <label
                    for="piso"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Piso (opcional)</label
            >
            <input
                    type="number"
                    id="piso"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Piso"
            />

            <button
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-2 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12"
            >
                Registrar donación
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <script src="/js/mapa-seleccionar-ubicacion.js"></script>
{{/partial}}

{{> templates/app/base}}