{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-12">Colaborar</h1>

        <!--Cards-->
        <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
        >
            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Donación de dinero
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Las donaciones económicas son fundamentales
                            para el sostenimiento de nuestra labor.
                            Con tu aporte, podemos adquirir los recursos
                            necesarios para brindar asistencia a personas
                            vulnerables, financiar nuestros programas de
                            apoyo y extender el alcance de nuestras
                            actividades. Cualquier monto que puedas donar
                            marcará una diferencia en la vida de quienes
                            más lo necesitan.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/donar-dinero"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Alta de persona vulnerable
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Al registrar a una persona en situación de
                            vulnerabilidad en nuestro sistema, nos ayudas
                            a identificar y gestionar la ayuda que
                            podemos brindarles. Esta acción es clave para
                            coordinar los recursos de manera eficiente y
                            asegurar que las personas más necesitadas
                            reciban apoyo personalizado y adecuado a sus
                            circunstancias.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/registrar-persona-vulnerable"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Donación de viandas
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Tu contribución de alimentos preparados
                            nos permite entregar viandas a personas
                            en situación de calle o en contextos de
                            alta vulnerabilidad. Estas viandas son
                            una fuente esencial de nutrición para
                            quienes no tienen acceso regular a una
                            alimentación saludable. Puedes donar
                            alimentos ya cocidos o en proceso de
                            preparación.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/donar-vianda"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Distribución de viandas
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Colabora con nosotros en la entrega
                            directa de viandas a las personas
                            que más lo necesitan. Tu tiempo y
                            esfuerzo pueden ayudar a garantizar
                            que las comidas lleguen de manera
                            rápida y segura a las manos adecuadas.
                            Esta labor es esencial para llevar
                            alivio inmediato a quienes sufren hambre.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/distribuir-viandas"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Hacerse cargo de una heladera
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Convertirte en responsable de una
                            heladera solidaria es una manera
                            práctica de ayudar a tu comunidad.
                            Estas heladeras están ubicadas en
                            puntos estratégicos y ofrecen
                            alimentos a quienes lo necesiten.
                            Al hacerte cargo, te comprometes a
                            mantenerla abastecida, en buen estado
                            y supervisada, asegurando que funcione
                            como un recurso para quienes no tienen
                            acceso a alimentos frescos.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/colocar-heladera"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Ofrecer productos
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Si tienes productos que puedan ser útiles
                            para las personas en situación de
                            vulnerabilidad, como ropa, artículos de
                            higiene personal, o cualquier tipo de
                            recurso que consideres necesario,
                            puedes ofrecerlos a nuestra organización.
                            Nos aseguraremos de que lleguen a quienes
                            más lo necesitan, aportando alivio y
                            apoyo en su día a día.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/ofrecer-producto"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>
        </div>
    </div>
    <!-- CARDS -->
{{/partial}}
{{> templates/app/base}}