{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-12">Colaborar</h1>

        <!--Cards-->
        <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
        >
            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Donación de dinero
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/donar-dinero"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Alta de persona vulnerable
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/registrar-persona-vulnerable"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Donación de viandas
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/donar-vianda"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Distribución de viandas
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/distribuir-viandas"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Hacerse cargo de una heladera
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/colocar-heladera"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-md overflow-hidden md:max-w-2xl"
            >
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-white">
                            Ofrecer productos
                        </h3>
                        <p class="mt-2 text-gray-300 text-pretty">
                            Con tu colaboracion, podes ayudar a miles de
                            personas en situacion de vulnerabilidad.
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Accusamus officiis neque
                            obcaecati nemo ullam eligendi illum
                            deleniti? Sunt commodi necessitatibus odit
                            mollitia nisi aliquid, minima rerum repellat
                            suscipit temporibus modi.
                        </p>
                    </div>
                </div>
                <a
                        href="/colaborar/ofrecer-producto"
                        class="mb-5 mt-auto boton"
                >
                    Quiero colaborar
                </a>
            </div>
        </div>
    </div>
    <!-- CARDS -->
{{/partial}}
{{> templates/app/base}}