{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-12 text-center">Colaborar</h1>

        <!--Cards-->
        <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8"
        >
            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/donacion_dinero.jpg" alt="Donación de dinero" class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Donación de dinero
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Las donaciones económicas son fundamentales para el sostenimiento de nuestra labor. Con tu
                            aporte, podemos adquirir los recursos necesarios para brindar asistencia a personas
                            vulnerables.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/donar-dinero')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/alta_vulnerable.jpg" alt="Alta de persona vulnerable" class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Alta de persona vulnerable
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Ayúdanos a identificar personas vulnerables para coordinar el apoyo adecuado. Registra a
                            alguien para que reciba la ayuda personalizada que necesita.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/registrar-persona-vulnerable')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/donacion_viandas.jpg" alt="Donación de viandas" class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Donación de viandas
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Contribuye con alimentos preparados para personas en situación de vulnerabilidad. Tu ayuda
                            puede ser la diferencia entre pasar hambre o tener una comida nutritiva.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/donar-vianda')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/distribuir_viandas.jpg" alt="Distribución de viandas" class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Distribución de viandas
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Colabora con nosotros en la entrega directa de viandas a personas necesitadas. Tu tiempo y
                            dedicación pueden llevar esperanza y alivio a muchas personas.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/distribuir-viandas')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/heladera_solidaria.jpg" alt="Hacerse cargo de una heladera"
                     class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Hacerse cargo de una heladera
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Ayuda a tu comunidad convirtiéndote en el responsable de una heladera solidaria. Manténla
                            abastecida y en buen estado para que quienes lo necesiten accedan a alimentos frescos.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/colocar-heladera')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>

            <div
                    class="flex flex-col items-center max-w-md mx-auto sidebar rounded-xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 bg-white"
            >
                <img src="/img/ofrecer_productos.jpg" alt="Ofrecer productos" class="w-full h-48 object-cover">
                <div class="md:flex">
                    <div class="p-8">
                        <h3 class="text-2xl font-semibold text-black">
                            Ofrecer productos
                        </h3>
                        <p class="mt-2 text-gray-500">
                            Dona productos útiles como ropa o artículos de higiene personal. Tu aporte puede mejorar la
                            calidad de vida de las personas en situación de vulnerabilidad.
                        </p>
                    </div>
                </div>
                <button
                        onclick="intentarColaborar('/colaborar/ofrecer-producto')"
                        class="w-full py-3 px-4 boton-colaborar text-white font-bold rounded transition-colors duration-300 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white mt-auto"
                >
                    Quiero colaborar
                </button>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        async function intentarColaborar(link) {
            try {
                // Make a fetch call to the server to verify authorization
                const response = await fetch(link, {method: 'GET', credentials: 'include'});

                console.log(response)

                if (response.ok) {
                    // If authorized, redirect to the link
                    window.location.href = link;
                    // console.log("dio ok")
                } else {
                    // console.log("dio no ok")
                    // If not authorized, show the SweetAlert warning
                    Swal.fire({
                        title: "¡Ups! No puedes realizar esta colaboración",
                        text: "No tienes permisos suficientes. Revisa tu perfil para añadir más opciones.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#28b463",
                        cancelButtonColor: "#cb4335",
                        confirmButtonText: "Ir a mi perfil",
                        cancelButtonText: "Cancelar",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirect to profile or perform another action
                            window.location.href = '/perfil'; // Adjust this path as needed
                        }
                    });
                }
            } catch (error) {
                console.error('Error verifying authorization:', error);
                Swal.fire({
                    title: "Error de conexión",
                    text: "No se pudo verificar la autorización. Por favor, intenta nuevamente.",
                    icon: "error",
                    confirmButtonText: "OK"
                });
            }
        }
    </script>
{{/partial}}

{{> templates/app/base}}
