{{#partial "btn-volver"}}
    <div class="flex">
        <a href="/colaborar">
            <button
                    class="m-4 px-6 py-3 text-sm lg:text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform azulIntermedio rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
            >
                Volver
            </button>
        </a>
    </div>
{{/partial}}

{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-4xl">
        <h1 class="title1 mb-8">Ofrecer producto</h1>

        <form id="form-prod" method="POST" action="/productos" class="content-center max-w-md mx-auto"
              enctype="multipart/form-data">
            <label for="nombre"
                   class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
                producto/servicio</label>
            <input name="nombre" type="text" id="nombre"
                   class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Nombre" required/>

            <label
                    for="categoria"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Categoría</label
            >
            <select
                    name="categoria"
                    id="categoria"
                    required
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                {{#each categorias}}
                    <option value={{this.nombre}}>{{this.nombre}}</option>
                {{/each }}
            </select>

            <label for="puntos"
                   class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">Puntos necesarios
                para canjear</label>
            <input name="puntos" type="number" id="puntos" aria-describedby="helper-text-explanation"
                   class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Puntos necesarios" required min="1" step="any"/>

            <label for="imagen" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Imagen del producto/servicio
            </label>
            <div class="mb-5">
                <label for="dropzone-file"
                       class="flex flex-col items-center w-full max-w-lg p-5 mx-auto mt-2 text-center bg-white border-2 border-gray-300 border-dashed cursor-pointer dark:bg-gray-900 dark:border-gray-700 rounded-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-8 h-8 text-gray-500 dark:text-gray-400">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"/>
                    </svg>
                    <h2 class="mt-1 font-medium tracking-wide text-gray-700 dark:text-gray-200">
                        Subir archivo
                    </h2>
                    <input id="dropzone-file" type="file" name="file" class="hidden" required accept="image/*"/>
                </label>
                <div id="image-preview" class="mt-4 hidden">
                    <img id="preview" src="#" alt="Vista previa de la imagen"
                         class="max-w-full h-auto rounded-lg shadow-lg"/>
                </div>
            </div>

            <button id="enviar-prod"
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-2 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12">
                Publicar producto
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="/js/carga-imagen-producto.js"></script>
    <script src="/js/form-handler.js"></script>
    <script>
        handleFormSubmit('form-prod','enviar-prod');
    </script>
{{/partial}}

{{> templates/app/base}}