{{#partial "contenido"}}
    <div id="map"></div>
{{/partial}}

{{#partial "links"}}
    <link rel="stylesheet" href="/css/heladeras.css"/>
{{/partial}}

{{#partial "scripts"}}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <script src="/js/utils-heladeras.js"></script>
    <script src="/js/heladeras-mapa.js"></script>
{{/partial}}

{{> templates/app/base}}