{{#partial "contenido"}}
    <div id="map"></div>

    <!-- Divs for markers -->
    <div id="marker-template" style="display: none">
        <div class="flex flex-col popup-content">
            <div class="popup-title"></div>
            <a href="/heladeras/suscribirme" class="popup-button">Suscribirse</a>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <script src="/js/heladeras.js"></script>
{{/partial}}

{{> templates/app/base}}