{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-4xl">
        <h1 class="title1">Listado de alertas</h1>
        <table class="w-full mt-10 table-auto">
            <tr>
                <th class="p-2 azulIntermedio text-white">Heladera</th>
                <th class="p-2 azulIntermedio text-white">
                    Tipo de alerta
                </th>
                <th class="p-2 azulIntermedio text-white">
                    Fecha y hora
                </th>
            </tr>
            {{#each alertas}}
                <tr class="border-b">
                    <td class="p-3 border-x">{{this.heladera.nombre}}</td>
                    <td class="p-3 border-x">{{this.tipoAlerta}}</td>
                    <td class="p-3 border-x">{{this.fechaHora}}</td>
                </tr>
            {{/each}}
            <tr class="border-b">
                <td class="p-3 border-x">Heladera Parque Centenario</td>
                <td class="p-3 border-x">Desconexi贸n</td>
                <td class="p-3 border-x">09/12/2018 12:00</td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">Heladera Parque Rivadavia</td>
                <td class="p-3 border-x">Desconexi贸n</td>
                <td class="p-3 border-x">09/12/2018 12:00</td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">Heladera Abasto</td>
                <td class="p-3 border-x">Desconexi贸n</td>
                <td class="p-3 border-x">09/12/2018 12:00</td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">Heladera UTN Medrano</td>
                <td class="p-3 border-x">Desconexi贸n</td>
                <td class="p-3 border-x">09/12/2018 12:00</td>
            </tr>
        </table>
    </div>
{{/partial}}

{{> templates/app/base}}