{{#partial "contenido"}}
    <div class="h-full flex flex-col items-center justify-center bg-[#516894] text-white p-4">
        <h1 class="text-9xl font-bold mb-4">404</h1>
        <p class="text-2xl mb-8">Ups! No encontramos lo que estás buscando</p>
        {{#if message}}
            <p class="text-xl mb-8">{{message}}</p>
        {{/if}}
        <a href="/" class="bg-white text-[#516894] py-2 px-6 rounded-full hover:bg-opacity-90 transition duration-300 font-semibold">
            Volver al inicio
        </a>
    </div>
{{/partial}}

{{> templates/app/base}}