{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-4xl">
        <h1 class="title1">Reportes</h1>
        <table class="w-full mt-10 table-auto">
            <tr>
                <th class="p-2 azulIntermedio text-white">Fecha</th>
                <th class="p-2 azulIntermedio text-white">
                    Fallas por Heladera
                </th>
                <th class="p-2 azulIntermedio text-white">
                    Viandas retiradas/colocadas por Heladera
                </th>
                <th class="p-2 azulIntermedio text-white">
                    Viandas por Colaborador
                </th>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">09/12/2018</td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">09/12/2018</td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">09/12/2018</td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
            </tr>
            <tr class="border-b">
                <td class="p-3 border-x">09/12/2018</td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
                <td class="p-3 border-x cursor-pointer">
                    <div class="flex justify-center">
                        <span>Descargar reporte</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                enable-background="new 0 0 24 24"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                        >
                            <g>
                                <rect
                                        fill="none"
                                        height="24"
                                        width="24"
                                />
                            </g>
                            <g>
                                <path
                                        d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"
                                />
                            </g>
                        </svg>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{{/partial}}

{{> templates/app/base}}