{{#partial "contenido"}}
    <div class="h-screen flex flex-col items-center justify-center azulIntermedio text-white p-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-green-400 mb-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <h1 class="text-4xl font-bold mb-4">¡Operación Exitosa!</h1>
        {{#if message}}
            <p class="text-xl mb-8 text-center">{{message}}</p>
        {{else}}
            <p class="text-xl mb-8 text-center">La operación se ha completado correctamente.</p>
        {{/if}}
        <a href="/login"
           class="bg-white text-blue-900 py-2 px-4 rounded-full hover:bg-opacity-90 transition duration-300">
            Iniciar Sesión
        </a>
    </div>
{{/partial}}

{{> templates/app/base}}