{{#partial "btn-volver"}}
    <a href="/login">
        <button
                class="m-4 px-6 py-3 text-sm lg:text-lg font-medium tracking-wide text-white capitalize transition-colors duration-300 transform azulIntermedio rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
            Volver
        </button>
    </a>
{{/partial}}

{{#partial "contenido"}}
    <div class="flex justify-center items-center mt-72 lg:mt-72">
        <div class="flex flex-col items-center justify-center">
            <span class="text-white text-3xl lg:text-5xl font-semibold mb-8">REGISTRARME COMO</span>
            <div class="flex gap-x-6 lg:gap-x-12 text-white">
                <a href="/registro/persona-juridica">
                    <button
                            class="w-full px-6 py-3 lg:text-xl font-medium tracking-wide text-white capitalize transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        Persona Jurídica
                    </button>
                </a>
                <a href="/registro/persona-humana">
                    <button
                            class="w-full px-6 py-3 lg:text-xl font-medium tracking-wide text-white capitalize transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                        Persona Humana
                    </button>
                </a>
            </div>
        </div>
    </div>
{{/partial}}

{{> templates/auth/base }}