{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-8">Registrar Visita de técnico</h1>

        {{#if message}}
            <p style="background: rgb(255, 163, 163);"
               class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">{{message}}</p>
        {{/if}}

        <form method="post" action="" class="content-center max-w-md mx-auto">
            <label
                    for="tecnicoId"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Técnico Id</label
            >
            <input
                    type="text"
                    name="tecnicoId"
                    id="tecnicoId"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Id del técnico"
                    required
            />
            <button
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-2 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12"
            >
                Agregar visita
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <script src="/js/mapa-seleccionar-ubicacion.js"></script>
    <script src="/js/input-contactos.js"></script>
{{/partial}}

{{> templates/app/base }}