{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-8">Registrar Técnico</h1>

        {{#if message}}
            <p style="background: rgb(255, 163, 163);"
               class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">{{message}}</p>
        {{/if}}

        <form method="post" action="" class="content-center max-w-md mx-auto">
            <label
                    for="nombre"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nombre</label
            >
            <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nombre"
                    required
            />

            <label
                    for="apellido"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Apellido</label
            >
            <input
                    type="text"
                    id="apellido"
                    name="apellido"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Apellido"
                    required
            />

            <label
                    for="tipo-documento"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Tipo de documento</label
            >
            <select
                    id="tipo-documento"
                    name="tipoDocumento"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                {{#each tiposDocumento}}
                    <option value={{this.valor}}>{{this.descripcion}}</option>
                {{/each}}
                <!--                <option value="DNI">DNI</option>-->
                <!--                <option value="LC">Libreta Cívica</option>-->
                <!--                <option value="LE">Libreta de Enrolamiento</option>-->
            </select>

            <label
                    for="documento"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Numero de Documento</label
            >
            <input
                    type="text"
                    id="documento"
                    name="documento"
                    aria-describedby="helper-text-explanation"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="documento"
                    required
                    min="1"
            />
            {{#if message}}
                <p id="error-message" style="background: rgb(255, 163, 163);"
                   class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">{{message}}</p>
            {{/if}}

            <div id="mediosContactoContainer">
                <label
                        for="medio-contacto-1"
                        class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Canal de Contacto 1</label
                >
                <select
                        id="medio-contacto-1"
                        name="canal-1"
                        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option value="Whatsapp">Whatsapp</option>
                    <option value="Email">Mail</option>
                    <option value="Telegram">Telegram</option>
                </select>
                <label
                        for="contacto-1"
                        class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Contacto 1</label
                >
                <input
                        type="text"
                        id="contacto-1"
                        name="contacto-1"
                        aria-describedby="helper-text-explanation"
                        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Nro de telefono o Email"
                        required
                        min="1"
                />
            </div>
            <button class="mb-4 text-sm" type="button" onclick="nuevoMedioContacto()">
                Agregar medio de contacto +
            </button>
            <input type="hidden" name="cantidad-contactos" id="cantidad-contactos" value="1"/>

            <span
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Punto Central de Referencia</span
            >
            <div
                    id="map"
                    style="height: 300px; width: 100%; z-index: 50"
                    class="mb-5"
            ></div>

            <input required type="hidden" name="latitud" id="latitud"/>
            <input required type="hidden" name="longitud" id="longitud"/>

            <label
                    for="radio-de-cobertura"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Radio de Cobertura (Km)</label
            >
            <input
                    type="number"
                    step="0.1"
                    id="radio-de-cobertura"
                    name="radio"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="1"
                    required
            />
            <button
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-2 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12"
            >
                Agregar tecnico
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <script src="/js/mapa-seleccionar-ubicacion.js"></script>
    <script src="/js/input-contactos.js"></script>
{{/partial}}

{{> templates/app/base }}