{{#partial "contenido"}}
    <div class="p-10 mx-auto max-w-7xl">
        <h1 class="title1 mb-8">Alta Modelo Heladera</h1>

        <form id="form-modelo" method="post" action="" class="content-center max-w-md mx-auto">
            <label
                    for="modelo"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Modelo</label
            >
            <input
                    type="text"
                    id="modelo"
                    name="modelo"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Modelo"
                    required
            />
            <label
                    for="tempMin"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Temperatura Minima (°C)</label
            >
            <input
                    type="number"
                    id="tempMin"
                    name="tempMin"
                    step="0.1"
                    aria-describedby="helper-text-explanation"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="0"
                    required
                    min="-50"
            />
            <label
                    for="tempMax"
                    class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Temperatura Maxima (°C)</label
            >
            <input
                    type="number"
                    id="tempMax"
                    name="tempMax"
                    step="0.1"
                    aria-describedby="helper-text-explanation"
                    class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="0"
                    required
                    min="-40"
            />

            <button
                    id="enviar-modelo"
                    type="submit"
                    class="content-center max-w-md mx-auto w-full mt-6 px-6 py-3 text-sm font-medium tracking-wide text-white transition-colors duration-300 transform botonFormularios rounded-lg hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50 mb-12"
            >
                Registrar modelo
            </button>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll(
                    'input[name="posee-domicilio"]'
            );
            const divDomicilio = document.getElementById("divDomicilio");

            radioButtons.forEach(function (radio) {
                radio.addEventListener("change", function () {
                    if (this.value === "si") {
                        divDomicilio.style.display = "block";
                    } else {
                        divDomicilio.style.display = "none";
                    }
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll(
                    'input[name="tiene-tutorados"]'
            );
            const divDomicilio = document.getElementById("divCantMenores");

            radioButtons.forEach(function (radio) {
                radio.addEventListener("change", function () {
                    if (this.value === "si") {
                        divDomicilio.style.display = "block";
                    } else {
                        divDomicilio.style.display = "none";
                    }
                });
            });
        });
    </script>
    <script src="/js/form-handler.js"></script>
    <script>
        handleFormSubmit('form-modelo', 'enviar-modelo');
    </script>
{{/partial}}

{{> templates/app/base }}